/* base rules, will be applied to everyting */
html {
  background-color: red;
  font-size: 14px;
}

/* need some clear fix */
.clear:after {
  content: "you can't see me";
  visibility: hidden;
  height: 0;
  clear: both;
  display: block;
}

/* generic menu styling */
menu {
  padding: 0;
}

menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.wrapper {
  padding: 5%;
}
 
/*mobile first rules, going to overwrite later*/



/*overriding the rules for different screen sizes*/

