body{
	background-image: url('./images/textured_paper.png');
}

#logo{
	display: block;
	width: 500px;
	height: 500px;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-size: 500px;
	background-image: url('http://pre07.deviantart.net/08b2/th/pre/f/2012/050/0/b/planet_express_logo_by_chupacabrathing-d4qbo3v.png')
}

