/* grey text for all titles */
h1 {
  color: #A9A7A9;
  background-color: #625F63;
}

/* style anything with class="happy" */
.happy {
  color: #FFDB59;
  background-color: #F58F29;
}

/* style anything with class="sad" */
.sad {
  color: #1789FC;
  background-color: #296EB4;
}

/* applies to all buttons */
button {
  border: none;
  width: 100px;
  height: 100px;
}

/* make something look like a circle */
.circle {
  border-radius: 100%;
}

#current {
  border: 4px solid #9BE564;
  color: #9BE564;
}
