#container{
	width: 100%;

  /*this is a maximum width, the div will not exceed this*/
	max-width: 800px;
 
	/*margin: top right bottom left*/
	/*margin: top/bottom right/left*/
	/*this makes the div stay in the middle*/
	margin: 10px auto;
	background-color: pink;
}

.demo {
	background-color: #69140E;
	width: 500px;
	height: 200px;
  opacity: 0.5; /* this just makes the box slightly transparent */
  
  /* play with the position */
}

.demo button{
  /* play with the position */
}

.footer {
	background-color: gold;
	width: 100%;
	height: 120px;
	opacity: 0.5;
   
  /* play with the position */
}

