.wrapper{
	width: 850px;
	padding:12.5px 0 0 12.5px;
	background-color: #eee;

	/*how do you make this a flex container?*/
	/*Use flex to make a 4 x 3 grid*/
}

.gi{
/* style the grid items */

}

/*when you hover over the elements, make them change color*/
.gi:hover{
	background-color: yellow;
}
 
/*BONUS! make the first grid element a perfect circle without touching the html!*/


