.wrapper{
	width: 850px;
	padding:12.5px 0 0 12.5px;
	background-color: #eee;

	/*how do you make this a flex container?*/
	/*Use flex to make a 4 x 3 grid*/

	display: flex;
	flex-wrap: wrap;
}

.gi{
	margin-right: 12.5px;
	margin-bottom: 10px;
	width: 200px;
	height: 200px;
	background-color: #8822FF;

	transition: border-radius 2s;
	transition-timing-function: ease-out;
	
	transition: background-color 10s;
}

.gi:first-child {
  transition: border-radius 2s;
	transition: background-color 10s;
}

/*make the first grid element a perfect circle without touching the html!*/
.gi:first-child:hover{
	border-radius: 100px;
	background-color: yellow;

}
/*when you hover over the elements, make them change color*/
.gi:hover{
	background-color: yellow;
}


