.wrapper{
	width: 850px;
	padding:12.5px 0 0 12.5px;
	background-color: #eee;


	display: flex;
	flex-wrap: wrap;

}

.gi{
	margin-right: 12.5px;
	margin-bottom: 10px;
	width: 200px;
	height: 200px;
	background-color: #8822FF;

	transition: background-color 2s ease-out;
	/*transition: background-color 2s;*/
}

.gi:first-child{
	border-radius: 50%;
}

.gi:hover{
	background-color: #22FF22;
}


