
html{
	font-size: 16px;
}

body{
	margin: 0;
	padding: 0;
	
}

.box{
	width: 100%;
	height: 500px;
}

h1{
	margin:0;
	font-size:5rem;
}

p{
	font-size: 1.5rem;
}
.one{

	background-color: #D88373;
}

.two{
	background-color: #BD1E1E;
}

.three{
	background-color: #555;	
	display: none;
}

@media (min-width: 600px){
	
	html{
		font-size: 30px;
		color: white;
	}
	.box{
		width:50%;
		display: inline-block;
		float:left;

	}

	.three{
		display: none;
	}
}

@media (min-width: 800px){
	html{
		color: blue;
		font-size: 60px;
	}

	.three{
		display: inline-block;
	}
}