.wrapper{
	width: 900px;
	height: 400px;
	margin: 0 auto;
	padding-top: 50px;
	padding-left: 200px;
	background-color: orange;
}

img{
	position: relative;	/*zindex only works with postioned elements*/
	height: 300px;
	margin-left: -100px;
}
