.wrapper{
	width: 900px;
	height: 400px;
	margin: 0 auto;
	padding-top: 50px;
	padding-left: 200px;
	background-color: orange;
}

img{
	position: relative;	/*zindex only works with postioned elements*/
	height: 300px;
	margin-left: -100px;

	transition: height 1s;
}


/*character I don't like*/
.nelson, .burns, .maggie{
	z-index: -100;
}

img:hover{
	z-index: 100;

	height: 600px;
}