/* blue #0F3589 */
/* grey #CECECE */
/* red #FF5E5B */

body {
  font-family: "Ovo", times;
  margin-bottom: 200px;
}

.main-title {
  font-size: 50px;
  text-align: center;
  color: #0F3589;
}

.page-wrap {
  padding: 0 15px;
}

.page-wrap h3 {
  margin: 0;
  color: #FF5E5B;
}

aside h3 {
  font-size: 30px;
}

article {
  line-height: 1.25;
  font-size: 20px;
}

/* style all the footer stuff*/
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #0F3589;
}

.logo {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
  background-color: green;
  margin-top: 15px;
  background-image: url('./images/belle.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

nav {
  display: inline-block;
}

footer h3 {
  text-align: center;
  display: none;
}

footer nav {
  width: 100%;
}

footer nav ul {
  padding: 0;
  margin: 15px 0;
  height: 40px;
  list-style-type: none;
}

footer nav ul li {
  display: inline-block;
  width: 49%;
}

footer nav ul li a {
  width: 100%;
  text-align: center;
  display: block;
  font-size: 20px;
  text-decoration: none;
  color: #CECECE;
  padding: 10px;
  box-sizing: border-box;
  transition: font-size 0.5s ease-out, margin-top 0.5s;
}

footer nav ul li a:hover {
  color: #FF5E5B;
  font-size: 30px;
  margin-top: -10px;
}

@media (min-width: 650px) {
  .page-wrap {
    max-width: 900px;
    margin: 0 auto;
  }
  .main-title {
    font-size: 100px;
    margin-bottom: 0px;
  }
  aside {
    float: left;
    width: 20%;
    margin-right: 5%;
  }
  main {
    width: 75%;
    float: left;
  }
  footer .page-wrap {
    width: 600px;
  }
  footer nav {
    width: 300px;
    float: right;
    margin-top: 45px;
  }
  .logo {
    width: 125px;
    height: 125px;
    float: left;
    margin-left: 50px;
  }
  footer .page-wrap h3 {
    display: block;
    clear: both;
    margin-bottom: 15px;
    color: #CECECE;
    width: 300px;
    float: right;
    font-size: 15px;
  }
}
