body{
	margin: 0;
	font-family: "Helvetica";
}
.logo{
	background-image: url('download.jpeg');
	background-repeat: no-repeat;
	width: 100px;
	height: 100px;
	background-size: 100%; 
}
section{
	padding: 100px;
	background-color: cornFlowerBlue;
}

.bg-image{
	display: block;
	height: 600px;
	background-image: url('https://wallpaperscraft.com/image/futurama_doctor_zoidberg_69273_1920x1080.jpg');

	background-size: cover;
	background-position: 50% 50%;
	background-attachment: fixed;
}