.orange{
	background-color: #FFA500;
	top: 50px;
	left: 50px;
}

.purple{
	background-color: #8822FF;
	top: 100px;
	left: 100px;
	z-index: -10;
}

.white{
	background-color: #f0f0f0;
	/*z-index: 10;*/
}

.box{
	width: 200px;
	height: 200px;
	/*zindex will only work with positioned elements*/
	position: absolute; 
	border: 1px solid black;
	/*a stands for alpha, the transperancy*/
	box-shadow: 10px 10px 10px rgba(100, 0, 0, 0.5);
}

.box:hover{
	z-index: 10;
}